		@font-face {
			font-family: crock;
			src: url(crock.ttf);
		}
		.tiny {
			font-size: 25px;
			position: absolute;
			right: 10;
		}
		.tiny2 {
			font-size: 32px;
			width: 100%;
			right: 50;
		}
		.tiny3 {
			font-size: 24px;
			width: 100%;
			right: 50;
		}
		#money {
			font-family: crock;
			font-size: 35px;
			color: white;
			padding: 4px;
			text-shadow:
				-0.5px -0.5px 0 #000,
				0.5px -0.5px 0 #000,
				-0.5px 0.5px 0 #000,
				0.5px 0.5px 0 #000;
		}
		#container {
			position: absolute;
			top: 120;
			right: 30;
		}
		
		#money2 {
			margin: 0 auto;
			width: 100%;
			text-align: center;
			font-family: crock;
			font-size: 35px;
			color: white;
			padding: 4px;
			text-shadow:
				-0.5px -0.5px 0 #000,
				0.5px -0.5px 0 #000,
				-0.5px 0.5px 0 #000,
				0.5px 0.5px 0 #000;
		}